/* Phone Input Styling */
.PhoneInput {
  display: flex;
  align-items: center;
}

.PhoneInputInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.PhoneInputInput:focus {
  outline: none;
}

.PhoneInputCountry {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.PhoneInputCountryIcon {
  width: 1.25rem;
  height: 1rem;
}

.PhoneInputCountrySelect {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0 0.25rem;
}

.PhoneInputCountrySelect:focus {
  outline: none;
}

.PhoneInputCountrySelectArrow {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.25rem;
  opacity: 0.6;
}
